<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Revolver</title>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="top-bar" role='navigation'>
      <ul class='title-area'>
        <li class='name'>
          <h1><%= link_to "Revolver", root_path %></h1>
        </li>
      </ul>
      <section>
        <ul class='right'>
          <li class='active'>
            <% if current_user %>
              <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">
                Signed in as <%= current_user.username %>
              </button>
              <% #Drop down broken %>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'button' %>
              <%= link_to "Log in", new_user_session_path, class: 'button' %>
            <% end %>
          </li>
        </>
      </section>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
